git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/diffusers.git
accelerate
einops
numpy
pillow
tqdm
scipy
flask
python-dotenv
huggingface_hub
kernels
boto3
peft
safetensors
